<!-- comment -->
<div id="comment" data-aos="fade-up">
  <div class="hd clear w">
    <div class="hd-left lf">
      <h3>Recommend for you</h3>
    </div>
  </div>
  <div class="show w">
    <button class="prev"></button>
    <button class="next"></button>
    <div class="show-box clear">
      <ul class="clear">
        <li>
          <div class="show-top">
            <a href="#"><img src="../../assets/img/35.jpg"></a>
          </div>
          <div class="show-bottom">
            <div class="name">
              <span class="frontname">c****4</span>
              <span class="date">2018-12-20 08:30</span>
            </div>
            <div class="paname">
              <span>Child Bottle</span>
              <span class="price">$20</span>
            </div>
            <div class="comment">
              <p>Great Deal!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="show-top">
            <a href="#"><img src="../../assets/img/36.jpg"></a>
          </div>
          <div class="show-bottom">
            <div class="name">
              <span class="frontname">z****i</span>
              <span class="date">2019-01-15 20:39</span>
            </div>
            <div class="paname">
              <span>Mini Towel</span>
              <span class="price">$15</span>
            </div>
            <div class="comment">
              <p>Cute!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="show-top">
            <a href="#"><img src="../../assets/img/39.jpg"></a>
          </div>
          <div class="show-bottom">
            <div class="name">
              <span class="frontname">w****1</span>
              <span class="date">2018-12-20 14:39</span>
            </div>
            <div class="paname">
              <span>Wool Slippers</span>
              <span class="price">$19</span>
            </div>
            <div class="comment">
              <p>Very warm.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="show-top">
            <a href="#"><img src="../../assets/img/40.jpg"></a>
          </div>
          <div class="show-bottom">
            <div class="name">
              <span class="frontname">m****1</span>
              <span class="date">2018-11-20 09:00</span>
            </div>
            <div class="paname">
              <span>Bedding Set</span>
              <span class="price">$299</span>
            </div>
            <div class="comment">
              <p>Good looking.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="show-top">
            <a href="#"><img src="../../assets/img/41.jpg"></a>
          </div>
          <div class="show-bottom">
            <div class="name">
              <span class="frontname">小**** </span>
              <span class="date">2018-09-20 10:30</span>
            </div>
            <div class="paname">
              <span>Throw Pillow</span>
              <span class="price">$39</span>
            </div>
            <div class="comment">
              <p>Soft and beautiful!</p>
            </div>
          </div>
        </li>
        <li>
          <div class="show-top">
            <a href="#"><img src="../../assets/img/42.jpg"></a>
          </div>
          <div class="show-bottom">
            <div class="name">
              <span class="frontname">f****i</span>
              <span class="date">2019-01-20 23:39</span>
            </div>
            <div class="paname">
              <span>Cashmere Socks</span>
              <span class="price">$16</span>
            </div>
            <div class="comment">
              <p>Save my life in this Winter.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="show-top">
            <a href="#"><img src="../../assets/img/44.jpg"></a>
          </div>
          <div class="show-bottom">
            <div class="name">
              <span class="frontname">x****2</span>
              <span class="date">2019-01-10 14:38</span>
            </div>
            <div class="paname">
              <span>Shopping Bag</span>
              <span class="price">$25</span>
            </div>
            <div class="comment">
              <p>Huge.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="show-top">
            <a href="#"><img src="../../assets/img/45.jpg"></a>
          </div>
          <div class="show-bottom">
            <div class="name">
              <span class="frontname">l****l</span>
              <span class="date">2018-11-12 09:32</span>
            </div>
            <div class="paname">
              <span>Backpack</span>
              <span class="price">$99</span>
            </div>
            <div class="comment">
              <p>Nice.</p>
            </div>
          </div>
        </li>

        <li>
          <div class="show-top">
            <a href="#"><img src="../../assets/img/47.jpg"></a>
          </div>
          <div class="show-bottom">
            <div class="name">
              <span class="frontname">m****2</span>
              <span class="date">2019-02-14 01:21</span>
            </div>
            <div class="paname">
              <span>20 Inch Luggage</span>
              <span class="price">$128</span>
            </div>
            <div class="comment">
              <p>Good quality.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>