.category-bg {
    background: #f4f0ea;
    width: 100%;
}

.category-wrap {
    min-height: 600px;
    width: 980px;
    margin: 0 auto;
    padding-top: 20px;
}

.category-aside {
    width: 16%;
    height: 600px;
    padding-right: 30px;
    box-sizing: border-box;
}

.category-aside li {
    text-indent: 40px;
}

.category-list {
    width: 84%;
}

.category-list li {
    background: #fff;
    position: relative;
    width: 223px;
    height: 210px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom:40px;
    overflow: hidden;
}

 .category-list img {
    max-width: 223px;
    max-height: 170px;
    transition: all .6s;
}

.category-list li:hover img {
    transform: scale(1.1,1.1);
}

.category-list li:hover a {
    color: #b4a078;
}

.category-list .text {
    position: absolute;
    bottom: 0;
    padding: 0 10px 0;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
}
.category-list .text div,.category-list .text p{
    height: 30px;
    padding-bottom: 5px;
}

.category-list .text p {
    text-align: left;
}

.category-list .text button {
    color: #b4a078;
    border: 1px solid #b4a078;
    background: #f5f3ef;
    border-radius: 1.5rem;
}
