<!-- brand -->
<div id="make" class="w" data-aos="fade-up">
  <div class="hd clear">
    <div class="hd-left lf">
      <h3>Brand</h3>
    </div>
    <div class="hd-right rf">
      <a routerLink="./">More ></a>
    </div>
  </div>
  <ul class="make-list clear">
    <li>
      <a routerLink="./">
        <img src="assets/img/7.jpg">
        <div class="name">
          MUJI
          <span>new</span>
        </div>
        <span class="pirce">$22.9</span>

      </a>
    </li>
    <li>
      <a routerLink="./">
        <img src="assets/img/9.jpg">
        <div class="name">
          Coach
          <span>new</span>
        </div>
        <span class="pirce">$139</span>

      </a>
    </li>
    <li class="last">
      <div class="ban">
        <a routerLink="./">
          <img src="assets/img/8.jpg">
          <div class="name">
            IKEA
            <span>new</span>
          </div>
          <span class="pirce">$9.9</span>
        </a>
      </div>
      <div class="ban1">
        <a routerLink="./">
          <img src="assets/img/6.jpg">
          <div class="name">
            COS
          </div>
          <span class="pirce">$20</span>
        </a>
      </div>
    </li>
  </ul>
</div>