<!-- category -->
<div class="sort">
  <div class="w sort1">
    <a routerLink="./">{{item?.category}}</a>
    <span class="s-ico"></span>
    <a routerLink="/category/{{item?.type}}">{{item?.type}}</a>
    <span class="s-ico"></span>
    <span class="color">{{item?.name}}</span>
  </div>
</div>

<div class="g-bg clear">
  <div class="w pb80 clear">

    <!-- pictures and info -->
    <div class="detail-top clear">
      <!-- left part: pics -->
      <div class="slide lf">
        <div class="view lf">
          <img src="assets/img/{{item?.image}}" style="display:block">
        </div>

      </div>
      <!-- right part:product info -->
      <div class="info rf">
        <div class="intro">
          <div class="name lf">{{item?.name}}</div>
          <div *ngIf="item?.newTag" class="newTag lf">new</div>
          <div class="desc">by {{item?.seller}}</div>
        </div>
        <!-- sale time -->
        <div class="d-time">
          <span class="spring">Limited Time &nbsp; &nbsp;</span>
          <span class="end">
            ends in
            <span class="hour">{{hour}}</span>
            h
            <span class="minute">{{minute}}</span>
            m
            <span class="seconds">{{second}}</span>
            s
          </span>
        </div>

        <!-- sale price -->
        <div class="price">
          <div class="fied">
            <span class="label">price</span>
            <span class="num">{{item?.price|currency}}</span>
            <span class="op"><del>{{item?.original|currency}}</del></span>
          </div>
          <div class="server">
            <span class="label">service</span>
            <div class="line">
              <i></i>
              free shipping
              <span></span>
              <i></i>
              free return
              <span></span>
              <i></i>
              fast refund
              <span></span>
            </div>
          </div>
        </div>

        <!-- title -->
        <div class="param clear">
          <span class="name lf">type</span>
          <div class="tab lf">
            {{item?.name}}
            <i></i>
          </div>
        </div>
        <!-- amount -->
        <div class="number clear">
          <span class="name lf">amount</span>
          <div class="selnum lf">
            <span class="remove" (click)="remove()"><i class="hx"></i></span>
            <input id="amount" type="text" [(ngModel)]="shoppingCart.number">
            <span class="add" (click)="add()">
              <i class="hx"></i>
              <i class="sx"></i>
            </span>
          </div>
        </div>
        <!-- stock -->
        <div class="param clear">
          <span class="name lf">stock</span>
          <div class="tab lf">
            {{item?.stock}}
            <i></i>
          </div>
        </div>
        <!-- buttons -->
        <div class="btns">
          <a routerLink="./" class="btn1 lf">Buy Now</a>
          <a (click)="addCart()" class="btn2 lf">
            <i></i>
            <span>Add to Cart</span>
          </a>
          <div class="zone lf">
            <span></span>
            <p>favorite</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-comment></app-comment>