<!-- shutter -->
<div id="choose" class="mt50" data-aos="fade-up">
  <div class="hd clear w">
    <div class="hd-left lf">
      <h3>New</h3>
      <span>Coming Soon</span>
    </div>
  </div>
  <div class="better w">
    <div class="slider-outer" id="j_silder_outer">
      <div class="img-item">
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
      </div>
      <div class="img-item">
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
      </div>
      <div class="img-item">
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
      </div>
      <div class="img-item">
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
      </div>
      <div class="img-item">
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
        <div class="img"></div>
      </div>
      <div class="btns" data-num="0">
        <div class="prev1"></div>
        <div class="next1"></div>
      </div>
    </div>
  </div>
</div>