<!-- The dialog -->
<div class="dialog-bg">

    <!-- dialog content -->
    <div class="dialog-wrapper">

        <div class="dialog-header">
            <h2>Wheel of Fortune</h2>
          </div>

          <div class="dialog-body">
            <img src="../../assets/img/arrow.png" alt="arrow" id="arrow" (click)="play()">
            <img [ngStyle]="{'transform': degree}" src="../../assets/img/rotate.png" alt="rotate" id="rotate">
          </div>

          <div class="dialog-footer">
            <h3>Click the center heart and good luck!</h3>
          </div>
    </div>
  
  </div>
