<!-- recommendation -->
<div id="popularity" data-aos="fade-up">
  <div class="hd clear w">
    <div class="hd-left lf">
      <h3>Top Rated</h3>
      <ul class="mood lf">
        <li class="on">popular</li>
        <li>hot</li>
      </ul>
    </div>
    <div class="hd-right rf" style="padding-top:10px">
      <a routerLink="./">More ></a>
    </div>
  </div>
  <div class="content w clear" style="display:block">
    <div class="content1 lf">
      <a routerLink="./">
        <img src="assets/img/86.png">
      </a>
      <div class="text">
        <a routerLink="./">Patch Board</a>
        <p>$18</p>
      </div>
    </div>
    <ul class="content-list lf">
      <li>
        <a routerLink="./">
          <img src="assets/img/87.png">
        </a>
        <div class="text">
          <a routerLink="./">Aroma Diffuser</a>
          <p>$99</p>
        </div>
      </li>
      <li>
        <div class="color-num">4 colors</div>
        <a routerLink="./">
          <img src="assets/img/88.png">
        </a>
        <div class="text">
          <a routerLink="./">Neckpillow</a>
          <p>$9</p>
        </div>
      </li>
      <li>
        <div class="color-num">5 colors</div>
        <a routerLink="./">
          <img src="assets/img/89.png">
        </a>
        <div class="text">
          <a routerLink="./">Fluffy Slippers</a>
          <p>$10</p>
        </div>
      </li>
      <li class="mt10">
        <a routerLink="./">
          <img src="assets/img/90.png">
        </a>
        <div class="text">
          <a routerLink="./">Glass Container</a>
          <p>$29.9</p>
        </div>
      </li>
      <li class="mt10">
        <div class="color-num">6 colors</div>
        <a routerLink="./">
          <img src="assets/img/105.png">
        </a>
        <div class="text">
          <a routerLink="./">Mug</a>
          <p>$9</p>
        </div>
      </li>
      <li class="mt10">
        <a routerLink="./">
          <img src="assets/img/92.png">
        </a>
        <div class="text">
          <a routerLink="./">Spring Mattress</a>
          <p>$199</p>
        </div>
      </li>
    </ul>
  </div>
  <div class="content w clear">
    <div class="content1 lf">
      <a routerLink="./">
        <img src="assets/img/93.png">
      </a>
      <div class="text">
        <a routerLink="./">Multi-purpose Scissors</a>
        <p>$24.9</p>
      </div>
    </div>
    <ul class="content-list lf">
      <li>
        <div class="color-num">3 colors</div>
        <a routerLink="./">
          <img src="assets/img/94.png">
        </a>
        <div class="text">
          <a routerLink="./">Quick-dry Slippers</a>
          <p>$24.9</p>
        </div>
      </li>
      <li>
        <a routerLink="./">
          <img src="assets/img/95.png">
        </a>
        <div class="text">
          <a routerLink="./">Jelly (6 pack)</a>
          <p>$4</p>
        </div>
      </li>
      <li>
        <a routerLink="./">
          <img src="assets/img/96.png">
        </a>
        <div class="text">
          <a routerLink="./">Refuse Bag</a>
          <p>$7.9</p>
        </div>
      </li>
      <li class="mt10">
        <div class="color-num">4 colors</div>
        <a routerLink="./">
          <img src="assets/img/97.png">
        </a>
        <div class="text">
          <a routerLink="./">20 Inch Pink Luggage</a>
          <p>$149</p>
        </div>
      </li>
      <li class="mt10">
        <div class="color-num">5 colors</div>
        <a routerLink="./">
          <img src="assets/img/98.png">
        </a>
        <div class="text">
          <a routerLink="./">Cotton Bedding Set</a>
          <p>$99</p>
        </div>
      </li>
      <li class="mt10">
        <div class="color-num">3 colors</div>
        <a routerLink="./">
          <img src="assets/img/99.png">
        </a>
        <div class="text">
          <a routerLink="./">Leather Backpack</a>
          <p>$299</p>
        </div>
      </li>
    </ul>
  </div>
</div>