<!-- Sale -->
<div id="time" class="w clear" data-aos="fade-up">
  <div class="hd clear">
    <div class="hd-left lf">
      <h3>Sale</h3>
    </div>
    <div class="hd-right rf" style="padding-top:10px">
      <a href="#">More ></a>
    </div>
  </div>
  <div class="time-list">
    <div class="time1">
      <a href="#"></a>
      <div class="screenHd">Today Only</div>
      <div class="line"></div>
      <div class="screenend">Ends In</div>
      <div class="endtime">
        <span class="hour hh">{{hour}}</span>
        <span class="colon">:</span>
        <span class="minute hh">{{minute}}</span>
        <span class="colon">:</span>
        <span class="seconds hh">{{second}}</span>
      </div>
      <div class="look-btn">
        more&nbsp;&nbsp;>
      </div>
    </div>
    <ul class="time2">
      <li>
        <div class="time2-left lf">
          <a href="#"><img src="assets/img/107.png"></a>
        </div>
        <div class="time2-right lf">
          <h2>
            <a href="#">Striped Cushion</a>
          </h2>
          <p>soft</p>
          <div class="itemnum">
            <div class="numbar lf">
              <div class="has" style="width:30px"></div>
            </div>
            <div class="numtip">3 left</div>
          </div>
          <div class="aprice">
            <span class="yanse">now<b>$15</b></span>
            <span class="item">original<del>$20</del></span>
          </div>
          <a href="#" class="btn">buy</a>
        </div>
      </li>
      <li>
        <div class="time2-left lf">
          <a href="#"><img src="assets/img/108.png"></a>
        </div>
        <div class="time2-right lf">
          <h2>
            <a href="#">Laptop Bag</a>
          </h2>
          <p>protect your laptop</p>
          <div class="itemnum">
            <div class="numbar lf">
              <div class="has" style="width:10px"></div>
            </div>
            <div class="numtip">1 left</div>
          </div>
          <div class="aprice">
            <span class="yanse">now<b>$10</b></span>
            <span class="item">original<del>$19</del></span>
          </div>
          <a href="#" class="btn">buy</a>
        </div>
      </li>
      <li class="no">
        <div class="time2-left lf">
          <a href="#"><img src="assets/img/109.png"></a>
        </div>
        <div class="time2-right lf">
          <h2>
            <a href="#">Comb</a>
          </h2>
          <p>the fondation of beautiful hair</p>
          <div class="itemnum">
            <div class="numbar lf">
              <div class="has" style="width:50px"></div>
            </div>
            <div class="numtip">5 left</div>
          </div>
          <div class="aprice">
            <span class="yanse">now<b>$25</b></span>
            <span class="item">original<del>$39</del></span>
          </div>
          <a href="#" class="btn">buy</a>
        </div>
      </li>
      <li class="no">
        <div class="time2-left lf">
          <a href="#"><img src="assets/img/110.png"></a>
        </div>
        <div class="time2-right lf">
          <h2>
            <a href="#">Key Ring</a>
          </h2>
          <p>small and safe</p>
          <div class="itemnum">
            <div class="numbar lf">
              <div class="has" style="width:20px"></div>
            </div>
            <div class="numtip">2 left</div>
          </div>
          <div class="aprice">
            <span class="yanse">now<b>$5</b></span>
            <span class="item">original<del>$9</del></span>
          </div>
          <a href="#" class="btn">buy</a>
        </div>
      </li>
    </ul>
  </div>
</div>