<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/88b9aef4-8ae4-41f6-9545-5aaf75ebdd31/resourceGroups/info6250-storeapi/providers/Microsoft.Web/sites/info6250-storeapi</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://info6250-storeapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>info6250-storeapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>info6250-storeapi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$info6250-storeapi</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>