<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f8e73325-bd05-48f1-86fd-cb5e25f02980/resourceGroups/ShoppintStoreAPI/providers/Microsoft.Web/sites/ShoppintStoreAPI</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://shoppintstoreapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>shoppintstoreapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ShoppintStoreAPI</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ShoppintStoreAPI</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>